{layout name="layout3" /}

<div class="met-banner banner-pc300 banner-max300 banner-mobile200">
    <a data-original="__INDEX__/static/images/news.jpg" data-originals="__INDEX__/static/images/news.jpg" title=""  target='_blank'></a>
</div>

<section class="met-shownews animsition">
    <div class="container">
        <div class="row">
            <div class="col-md-9 met-shownews-body">
                <div class="row">
                    <div class="met-shownews-header">
                        <h1>{$data.title}</h1>
                        <div class="info">
							<span>
								{$data.publish_date}
							</span>
							<span>
								中心资讯
							</span>
                            <span>
                                来源：{$data.source}
                            </span>
                            <span>
                                编辑：{$data.editor}
                            </span>
							<span>
								<i class="icon wb-eye margin-right-5" aria-hidden="true"></i>{$read}
							</span>
                            <input type="hidden" id="cid" value="{$cid}">
                            <input type="hidden" id="cate" value="{$cate}">
                            <?php if (\think\Session::has('username')): ?>
                            <div>
                                <input type="hidden" id="username" value="<?= \think\Session::get('username') ?>">
                                {eq name="is_like" value="1"}
                                <span class="glyphicon glyphicon-heart" style="cursor: pointer;" id="like1" onclick="changeLike(0, {$history_id})"></span>
                                {else/}
                                <span class="glyphicon glyphicon-heart-empty" style="cursor: pointer;" id="noLike1" onclick="changeLike(1, {$history_id})"></span>
                                {/eq}
                                <span class="glyphicon glyphicon-heart" id="like" style="cursor: pointer;display: none;" onclick="changeLike(0, {$history_id})"></span>
                                <span class="glyphicon glyphicon-heart-empty" id="noLike" style="cursor: pointer;display: none;" onclick="changeLike(1, {$history_id})"></span>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="met-editor lazyload clearfix">
                        <div>
                            {$data.content}
                            <div class="center-block met_tools_code">
                                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>
                        </div>
                    </div>
                    <div class="met-shownews-footer">

                        <ul class="pager pager-round">
                            <?php if ($_GET['flag'] != 'search'): ?>

                            <?php if (!empty($data_pre)): ?>
                            <li class="previous ">
                                <a href="/index/central_information/show?id={$data_pre.id}&flag=<?= $_GET['flag'] ?>" title="{$data_pre.title}" style="max-width: 25em;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis; /*超出部分用...代替*/">
                                    上一篇
                                    <span aria-hidden="true" class='hidden-xs hidden-sm'>：{$data_pre.title}</span>
                                </a>
                            </li>
                            <?php endif; ?>
                            <?php if (!empty($data_next)): ?>
                            <li class="next ">
                                <a href="/index/central_information/show?id={$data_next.id}&flag=<?= $_GET['flag'] ?>" title="{$data_next.title}" style="max-width: 25em;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis; /*超出部分用...代替*/">
                                    下一篇
                                    <span aria-hidden="true" class='hidden-xs hidden-sm'>：{$data_next.title}</span>
                                </a>
                            </li>
                            <?php endif; ?>

                            <?php endif; ?>
                        </ul>
                        <p></p>
